body {
	font-family: Arial, Helvetica, "Trebuchet MS", sans-serif;
}

.centre-text {
	text-align: center;
}

form > .form-row {
	margin-bottom: 10px;
}

form > .form-row > .header {
	font-weight: bold;
}


#time {
	width: 100%;
	font-size: 250px;
}

#timer-container {
	width: 80%;
}

.neg {
	color: #6f6f6f;
}